################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Docs/CopilotIndices/17.14.260.54502
/.vs/Docs/FileContentIndex
/.vs
